.companies {
	color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 14px;
	margin-top: 5px; margin-bottom: 0px;
	font-weight: normal;
}

#sub  {
	color: #0099CC;
	font-size: 10px;
}

